@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="login-logo"><b>Şifre Yenileme</b></div>
@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />
    <div class="input-group mb-3">
        @Html.HiddenFor(m => m.Token)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email" })
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-Password" })
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
            <a href="/login" class="btn btn-danger btn-block">Login Sayfasına Dön</a>
        </div>
    </div>
</form>